@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2017-12-04 10:33:20
 * @version $Id$
 */
* {
    margin: auto;
    padding:0px;
}

a {
    text-decoration:none;
}
p {
    color: #494949;
}

h2 {
    color: cornflowerblue;
}

ul {
    list-style-type: none;
}


/* -----响应式布局------- */
@media screen and (min-width: 768px){
 .g-box .g-hd{
    width:100%;
 }
 .hd.nav>li>a{
    position: relative;
    display: block;
    padding: 10px 26px;
 }
/* --新闻动态图片宽度-- */
 .g-index-news .m-news-detail .u-news-img img{
    width:100%;
}
/* --公司简介左侧导航-- */
.g-about-bd .m-lift-nav .m-lift-detail li{
    height:50px;
    line-height:50px;
    border-bottom:1px solid #ccc;
    padding-left:15px;
}
/* --公司简介图片展示隐藏-- */
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix img{
    display: block;
    width: 150px;
    float: left;
}
/* --公司简介文字部分布局-- */
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix{
    float: left;
    width:30%;

}

.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-text{
    float: left;
    width:69%;

}
/* --公司简介——合作伙伴logo展示宽度-- */
.g-about-bd .m-detail-bd .u-panter-logo img{
    height:73px;
}
/* --产品中心——产品展示图宽度-- */
.m-product-showimg .u-product-img img{
    width:100%;
}
}


@media screen and (max-width: 768px){
.g-box .g-hd{
    width:100%;
 }
 /* 首页新闻模块标题文字部分 */
 .g-index-news .u-nwes-word,.u-nwes-btn{
    width:361px;
 }
 /* --公司简介左侧导航 --*/
 .g-about-bd .m-lift-nav ul{
    text-align:center;
 }
 /* --公司简介左侧导航标题-- */
.g-about-bd .m-lift-nav .m-lift-detail li{
    float: left;
    height:45px;
    line-height:44px;
    width: 92px;
    text-align:center;
    border-bottom:none;
}
/* --公司简介图片展示隐藏-- */
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix{
    display: none;
}
/* --公司简介文字部分布局-- */
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix{
    float: left;
    width:0%;

}

.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-text{
    float: left;
    width:100%;

}
/* --公司简介——合作伙伴logo展示宽度-- */
.g-about-bd .m-detail-bd .u-panter-logo img{
    height:86px;
}
/* --产品中心——产品展示图宽度-- */
.m-product-showimg .u-product-img img{
    width:100%;
}

}


@media screen and (min-width: 992px){
/* --导航栏宽度-- */
.g-box .g-hd{
    width:85%;
 }
/* --首页新闻图片宽度-- */
.g-index-news .m-news-detail .u-news-img img{
    width:100%;
}
/* --公司简介左侧导航标题-- */
.g-about-bd .m-lift-nav .m-lift-detail li{
    height:50px;
    line-height:50px;
    border-bottom:1px solid #ccc;
    padding-left:15px;

}
/* --公司简介图片展示隐藏-- */
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix img{
    width: 200px;
    display:block;
    float: left;
}
/* --公司简介文字部分布局-- */
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix{
    float: left;
    width:30%;

}

.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-text{
    float: left;
    width:69%;

}
/* --公司简介——合作伙伴logo展示宽度-- */
.g-about-bd .m-detail-bd .u-panter-logo img{
    width: 100%;
}
/* --产品中心——产品展示图宽度-- */
.m-product-showimg .u-product-img img{
    width:100%;
}

}

/* -----/响应式布局----- */



/* ------首页样式------- */
.g-hb{
    width:100%;
}
.g-logo{
    padding:0px 0px;
}
.g-logo img{
    height: 48px;
}
/* -------核心业务样式------- */
.g-index-core{
    background-color:#f8f8f8;
}
.g-index-core .m-index-title .u-index-word{
    color:#cb2a39;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}
.g-index-core .m-index-title .u-index-line{
    top:10px;
    height:2px;
    width:50px;
    margin-bottom: 10px;
    background-color: #cb2a39;
}
.g-index-core .m-index-title .u-index-detail{
    font-family:微软雅黑;
    font-size: 16px;
    text-align:center;
    margin-bottom:36px;
}
.g-index-core .m-index-detail .u-detail-core{
    text-align:center;
    margin-bottom:44px;
}
.g-index-core .m-index-detail .u-core-box{
    background-color:#f0f0f2;
    box-shadow:4px 4px 4px #ddd;
}

.g-index-core .m-index-detail .u-core-box img{
     width:210px;
}
.m-index-detail .u-core-box:hover p{
    color:#cb2a39;

}
.g-index-core .m-index-detail p{
    margin-top: 10px;
    padding-bottom: 10px;
    color:#1e1e1e;
}
.g-index-core .m-index-detail p:hover{
    color:#cb2a39;
}
.m-index-detail .u-core-box a{
    text-decoration:none;
}
/* ---公司简介样式--- */

/* --背景背景固定图片-- */
.g-index-company{
    background:url(../img/首页公司简介背景图2.jpg);
    background-attachment:fixed;
    width:100%;
    background-position:center;
    padding-bottom:44px;
}
/* -----标题------- */
.g-index-company .m-index-title .u-index-word{
    color:#cb2a39;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}
.g-index-company .m-index-title .u-index-line{
    top:10px;
    height:2px;
    width:50px;
    margin-bottom: 10px;
    background-color: #cb2a39;
}
.g-index-company .m-index-title .u-index-detail{
    font-family:微软雅黑;
    font-size: 16px;
    text-align:center;
    margin-bottom:36px;
}
/* -----标题结束------- */
.g-index-company .m-company-detail{
    text-align:center;
    position:relative;
}
.g-index-company .m-company-detail .u-img-bg img{
    opacity: 0.6;
}
.g-index-company .m-company-detail .u-company-hd{
    position: absolute;
    top: 12px;
    z-index: 6;
    margin-left: 42%;
    font-size: 20px;
}
.g-index-company .m-company-detail .u-company-hb{
    width: 300px;
    line-height: 24px;
    font-size: 18px;
    position: absolute;
    top: 52px;
    margin-left: 42%;
}
/* ----新闻动态样式--- */
.g-index-news{
    background-color:#f8f8f8;
    padding-bottom:44px;
}
/* ----标题---- */
.g-index-news .m-index-title .u-index-word{
    color:#cb2a39;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}
.g-index-news .m-index-title .u-index-line{
    top:10px;
    height:2px;
    width:50px;
    margin-bottom: 10px;
    background-color: #cb2a39;
}
.g-index-news .m-index-title .u-index-detail{
    font-family:微软雅黑;
    font-size: 16px;
    text-align:center;
    margin-bottom:36px;
}
/* ----标题结束 -----*/
.m-index-newsBg{
    background-color:#fff;
}
.g-index-news .m-news-detail .m-index-newsBg:hover{
    box-shadow:4px 4px 4px #ddd;
}
.g-index-news .m-news-detail{
    text-align:center;
}
.g-index-news .m-news-detail .u-nwes-word .u-news-top{
    font-size: 18px;
    margin-top:10px;
}
.g-index-news .m-news-detail .u-nwes-word .u-news-content{
    padding-left: 10px;
    padding-right: 10px;
}
.m-news-detail .u-nwes-btn .u-index-btn{
    background-color:#efeff1;
    width:100%;
    height:50px;
    border:none;
}
.m-news-detail .u-nwes-btn .u-index-btn:hover{
    background-color:#cb2a39;
    color:#fff;
}
.g-index-news .m-news-detail .m-news-box{
    margin-bottom:20px;
}

/* -------底部样式-------- */
.m-ft-table thead tr th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top:0px;
    border-bottom: 0px;
}
.m-ft-table>tbody>tr>td, .m-ft-table>tbody>tr>th, .m-ft-table>tfoot>tr>td, .m-ft-table>tfoot>tr>th, .m-ft-table>thead>tr>td, .m-ft-table>thead>tr>th{
    border-top:0px;
}
.m-ft-hd .table-responsive{
    border:0px;
}
.g-ft .m-ft-hd{
     background-color:#323232;
}
.g-ft .m-ft-hd .m-ft-table{
    color:#d1d7db;
    margin-top: 26px;
}
.g-ft .m-ft-hd .m-ft-ul{
    margin-top: 26px;
    text-align:center;
}
.g-ft .m-ft-hd .m-ft-ul p{
    color:#d1d7db;
}
.g-ft .m-ft-hd .m-ft-ul .u-ul-logo{
    height:50px;
}
.g-ft .m-ft-hd .m-ft-ul .u-ul-phone{
    height:30px;
    margin-right: 10px;
}
.g-ft .m-ft-hd .m-ft-ul .u-ul-email{
    height:30px;
    margin-right: 10px;
}
.g-ft .m-ft-bottom{
    color:#d1d7db;
    text-align:center;
    background-color:#1e1e1e;
}
.g-ft .m-ft-bottom p{
    line-height:30px;
    color:#d1d7db;
}

/* ----------公司简介----------- */
.g-banner{
    margin-top:51px;
}
.g-banner img{
    width:100%;
}
.g-about-bd{
    padding-top:26px;
    background-color:#f8f8f8;
}
.g-about-bd .m-lift-nav{

}
.g-about-bd .m-right-content{
    background-color:#fff;
    padding-bottom:60px;

}
.g-about-bd .m-lift-nav .m-lift-detail{
    background-color:#fff;

}
.g-about-bd .m-lift-nav .m-lift-detail img{
    margin-right:5px;
}

.g-about-bd .m-lift-detail .u-nav-title{
    background-color:#cb2a39;
    font-size:18px;
    color: #fff;
}
.g-about-bd .m-lift-nav .m-lift-detail li a{
    color:#494949;
}
.g-about-bd .m-lift-nav .m-lift-detail li a:hover{
    color:#cb2a39;
}
.g-about-bd .m-right-content .m-detail-hd{
    height:50px;
    line-height:50px;
    border-bottom:1px solid #ccc;
}
.g-about-bd .m-right-content .u-hd-lift{
    float: left;
}
.g-about-bd .m-right-content .u-hd-lift img{
    height:30px;
}
.g-about-bd .m-right-content .u-hd-lift p{
    font-size: 18px;
    margin-bottom:0px;
    color: #1e1e1e;
    border-bottom:1px solid #cb2a39;
}
.g-about-bd .m-right-content .u-hd-right{
    float: right;
}
.g-about-bd .m-right-content .u-hd-right p{
    font-size: 14px;
    margin-bottom:0px;
}
.g-about-bd .m-right-content .u-hd-right span{
    color: #cb2a39;
}
.g-about-bd .m-right-content .m-detail-bd{
    clear: both;
}
.g-about-bd .m-right-content .m-detail-bd .u-about-top{
    padding:15px 15px;
    margin-top:15px;
    color:#1e1e1e;
    background-color:#cb2a39;
}
.g-about-bd .m-right-content .m-detail-bd .u-about-content{

    margin-top:15px;
}
.g-about-bd .m-right-content .m-detail-bd .u-about-content .u-about-imgmix img{
    box-shadow: 4px 4px 4px #d4d4d4;
}



/* ------公司简介——合作伙伴------ */
.g-about-bd .m-detail-bd .u-panter-logo{
    border:1px solid #ccc;
    text-align:center;
}

.g-about-bd .m-right-content .m-detail-bd .m-panter-right{
    padding-top: 30px;
}
.g-about-bd .m-right-content .m-detail-bd .m-panter-righttwo{
    padding-top: 15px;
}


/* -----------人力资源---------- */
.m-right-content .m-detail-bd .m-people-showimg{
    padding-left:0px;
}
.m-people-showimg .u-people-img img{
    width:100%;
}
.m-people-margin{
    margin-top:20px;
}
.m-people-margin .m-people-showtext .u-people-wordName{
    font-size: 18px;
    color: #1e1e1e;
    font-weight:bold;
}
.m-people-margin .m-people-showtext .u-people-wordJob{
    font-size: 16px;
    font-weight:bold;
}
.m-people-page{
    position:absolute;
    z-index:1;
    bottom: -20px;
    right:15px;
}
.pagination>li>a:hover{
    background-color:#cb2a39;
}

/* -----------产品中心---------- */

.m-right-content .m-detail-bd .m-product-showimg{
    padding-left:0px;
    margin-top:20px;
}
.m-product-margin .u-product-img a{
    text-decoration:none;
}
.m-product-showimg .u-product-img{
    border: 1px solid #ccc;
}
.m-product-showimg .u-product-img:hover{
    border: 1px solid #cb2a39;
}
.m-product-showimg .u-product-img p{
    text-align:center;
    padding-top: 10px;

}
.m-product-showimg .u-product-img a:hover p,.m-product-showimg .u-product-img a:hover{
    color:#cb2a39;
}
/* -----------产品详情---------- */
.m-product-dtTitle{
    margin-top:16px;
}
.m-product-dtTitle .u-dt-title{
    text-align:center;
    font-size: 18px;
    color:#1e1e1e;
    font-weight:bold;
}
.m-product-dtTitle .u-dt-time{
    text-align:center;
    font-size: 16px;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}
.m-product-dtContent span{
    font-size: 14px;
}
.m-product-dtContent ul li{
    padding-top:10px;
    padding-bottom:10px;
}

/* -----------新闻动态---------- */
.m-news-content a{
    text-decoration:none;
}
.m-news-paddingLf{
    padding-left:0px;
    margin-top:20px;
}
.m-news-lsImg img{
    width: 100%;
}
.m-news-paddingLf .m-news-content .u-news-title{
    font-size: 18px;
    font-weight:bold;
    color:#1e1e1e;
}
.m-news-content:hover .u-news-title{
    color:#cb2a39;
}
.m-news-content .u-news-time{
    font-size: 16px;
    color: #b8b8b8;

}
.m-news-lsImg{
    border:1px solid #ccc;
    box-shadow: 4px 4px 4px #d4d4d4;
}
/* -----------新闻动态详情---------- */
.m-news-ditailText p{
    text-indent: 20px;
}

/* -----------联系我们-------------- */
.m-content-margintop{
    margin-top:20px;
}
/* -----右侧站点地图a标签样式------- */
.m-detail-hd .u-hd-right a{
    text-decoration:none;
    color: #494949;
}
.m-detail-hd .u-hd-right a:hover{
    color: #cb2a39;
}