@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2017-12-04 10:33:20
 * @version $Id$
 */
* {
    margin: auto;
    padding:0px;
}

a {
    text-decoration: none;
}

p {
    color: #494949;
}

h2 {
    color: cornflowerblue;
}

ul {
    list-style-type: none;
}
/* 首页样式 */
.g-hb{
    width:100%;
}
@media screen and (min-width: 768px){
 .g-hd{
    width:80%;
 }
 .hd.nav>li>a{
    position: relative;
    display: block;
    padding: 10px 26px;
 }
 .g-index-news .m-news-detail .u-news-img img{
    width:100%;
}
 }


@media screen and (max-width: 768px){

 /* 首页新闻模块标题文字部分 */
 .g-index-news .u-nwes-word,.u-nwes-btn{
    width:361px;
 }
}


@media screen and (min-width: 992px){

.g-index-news .m-news-detail .u-news-img img{
    width:100%;
}
}

.g-logo{
    padding:0px 0px;
}
.g-logo img{
    height: 48px;
}
/* 核心业务样式 */
.g-index-core{
    background-color:#f8f8f8;
}
.g-index-core .m-index-title .u-index-word{
    color:#cb2a39;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}
.g-index-core .m-index-title .u-index-line{
    top:10px;
    height:2px;
    width:50px;
    margin-bottom: 10px;
    background-color: #cb2a39;
}
.g-index-core .m-index-title .u-index-detail{
    font-family:微软雅黑;
    font-size: 16px;
    text-align:center;
    margin-bottom:36px;
}
.g-index-core .m-index-detail .u-detail-core{
    text-align:center;
    margin-bottom:44px;
}
.g-index-core .m-index-detail .u-core-box{
    background-color:#f0f0f2;
}
.g-index-core .m-index-detail .u-core-box img{
     width:210px;
}
.g-index-core .m-index-detail p{
    margin-top: 10px;
    padding-bottom: 10px;
    color:#cb2a39;
}

/* 公司简介样式 */
/* -----标题------- */
.g-index-company .m-index-title .u-index-word{
    color:#cb2a39;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}
.g-index-company .m-index-title .u-index-line{
    top:10px;
    height:2px;
    width:50px;
    margin-bottom: 10px;
    background-color: #cb2a39;
}
.g-index-company .m-index-title .u-index-detail{
    font-family:微软雅黑;
    font-size: 16px;
    text-align:center;
    margin-bottom:36px;
}
/* -----标题结束------- */
.g-index-company .m-company-detail{
    text-align:center;
    position:relative;
}
.g-index-company .m-company-detail .u-img-bg{
    margin-bottom: 44px;
}
.g-index-company .m-company-detail .u-company-hd{
    position: absolute;
    top: 12px;
    z-index: 6;
    margin-left: 42%;
    font-size: 20px;
}
.g-index-company .m-company-detail .u-company-hb{
    width: 300px;
    line-height: 24px;
    font-size: 18px;
    position: absolute;
    top: 52px;
    margin-left: 42%;
}
/* ----新闻动态样式--- */
.g-index-news{
    background-color:#f8f8f8;
    padding-bottom:44px;
}
/* ----标题---- */
.g-index-news .m-index-title .u-index-word{
    color:#cb2a39;
    font-family: 微软雅黑;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}
.g-index-news .m-index-title .u-index-line{
    top:10px;
    height:2px;
    width:50px;
    margin-bottom: 10px;
    background-color: #cb2a39;
}
.g-index-news .m-index-title .u-index-detail{
    font-family:微软雅黑;
    font-size: 16px;
    text-align:center;
    margin-bottom:36px;
}
/* ----标题结束 -----*/
.g-index-news .m-news-detail{
    text-align:center;
}
.g-index-news .m-news-detail .u-nwes-word .u-news-top{
    font-size: 18px;
    margin-top:10px;
}
.g-index-news .m-news-detail .u-nwes-word .u-news-content{
    padding-left: 10px;
    padding-right: 10px;
}
.m-news-detail .u-nwes-btn .u-index-btn{
    background-color:#efeff1;
    width:100%;
    height:50px;
}
.g-index-news .m-news-detail .m-news-box{
    margin-bottom:20px;
}

/* -------底部样式-------- */
.m-ft-table thead tr th{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top:0px;
    border-bottom: 0px;
}
.m-ft-table>tbody>tr>td, .m-ft-table>tbody>tr>th, .m-ft-table>tfoot>tr>td, .m-ft-table>tfoot>tr>th, .m-ft-table>thead>tr>td, .m-ft-table>thead>tr>th{
    border-top:0px;
}
.m-ft-hd .table-responsive{
    border:0px;
}
.g-ft .m-ft-hd{
     background-color:#323232;
}
.g-ft .m-ft-hd .m-ft-table{
    color:#d1d7db;
    margin-top: 26px;
}
.g-ft .m-ft-hd .m-ft-ul{
    margin-top: 26px;
}
.g-ft .m-ft-hd .m-ft-ul p{
    color:#d1d7db;
}
.g-ft .m-ft-hd .m-ft-ul .u-ul-logo{
    height:50px;
}
.g-ft .m-ft-hd .m-ft-ul .u-ul-phone{
    height:30px;
    margin-right: 10px;
}
.g-ft .m-ft-hd .m-ft-ul .u-ul-email{
    height:30px;
    margin-right: 10px;
}
.g-ft .m-ft-bottom{
    color:#d1d7db;
    text-align:center;
    background-color:#1e1e1e;
}
.g-ft .m-ft-bottom p{
    line-height:30px;
    color:#d1d7db;
}